vm/.vagrant
vm/generated

vm-ubuntu/.vagrant
vm-ubuntu/generated

baremetal/generated

.coverage
**/__pycache__/
**/.pytest_cache/

dist/
*.egg-info/

workspace/
terraform/x1/.terraform*
terraform/x1/terraform.tfstate*
terraform/.terraform*
terraform/*.tfstate*
terraform/gcp/.terraform*
terraform/gcp/*.tfstate*

logs/
misc/
build/

# Ignore files created by Prefect in unit tests
.prefectignore
