name: Single node cluster with Kind

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy:
    runs-on:
      - self-hosted
      - docker
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Delete the existing cluster
        run: |
          ./scripts/deploy/kind.sh --delete

      - name: Create ICL environment file
        run: |
          mkdir .x1
          cat << EOF > .x1/environment
          ICL_RAY_ENDPOINT=localtest.me:30009
          EOF

      - name: Deploy a cluster with kind
        run: |
          ./scripts/deploy/kind.sh || sleep inf

      - name: Run tests
        run: |
          ./scripts/deploy/kind.sh --console ./scripts/ccn/test.sh

      - name: Delete the existing cluster
        if: always()
        run: |
          ./scripts/deploy/kind.sh --delete

      - name: Upload logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: logs
          path: logs
          if-no-files-found: ignore
