name: Python tests

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
#    branches: [ main ] FIXME
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install test dependencies
        run: |
          python --version
          pip --version
          pip install .[unit_tests] || true
          pip show prefect

      - name: Run static analysis
        run: |
          pre-commit run --show-diff-on-failure --color=always --all-files

      - name: Run unit tests
        run: |
          coverage run --branch -m pytest src/infractl/tests -vv
          coverage report
